@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&family=Sansita+Swashed:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgba(163, 220, 50, 0.888);
}
.Nav{
    height: 2rem;
    padding-left: 2rem;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(41, 56, 37, 0.559);
    color: rgba(100, 237, 136, 0.731);
}
.save-notes{
    padding: 1rem;
    position: relative;
    display: block;
    position: static;
    color:rgb(255, 255, 255);
    background-color: rgba(75, 144, 147, 0.559);
}

header{
    padding: 0.5rem; 
    font-family: 'Sansita Swashed', cursive;
    font-size: 2rem;
    text-shadow: 1px 2px #777;
}

footer{
    height: 2rem;
    background-color:  rgba(65, 124, 127, 0.559);
    text-align: center;
    color: black
}

#form-notes{
    margin-top: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    background-color: rgba(66, 119, 123, 0.523);
    box-shadow:rgba(168, 245, 255, 0.826) 0 0.1rem 0.2rem 0.2rem;
    border-radius: 5px;
}

#title1, #content{
    width: 80%;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px inset rgb(95, 135, 164);
    border-radius: 10px;
    outline:none;
    background-color: rgba(210, 250, 253, 0.587);
    color: rgb(0, 0, 0);
    font-size: medium;
}

#content{
    height: 4rem;
}

#addnote {
    color: rgb(255, 255, 255); 
    font-size: 0.9rem;  
    padding: 0.5rem; 
    border-radius: 7px; 
    text-decoration: none; 
    background-image: linear-gradient(to right, rgb(85, 172, 229) 0%, rgb(88, 126, 240) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgba(35, 34, 34, 0.715) 0.2rem 0.2rem;
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
}
    
#addnote:hover {
    background: #09185f;
}
    
#addnote:active {
    background: #2283c4; 
}

.write-notes{
    margin: 1rem;
    padding: 1rem;
    display: inline;
    justify-content: center;
    text-align: center;
}

h2{
    font-family: 'Kreon', serif;
    font-family: 'Rasa', serif;
}

#line{
    margin: 1% 0 0 25%;
    width:50%;
    height:0.1rem;
    background-color: rgba(98, 253, 253, 0.621);
}

.card-body{
    margin: 1rem;
    display:inline-table;
    position:sticky;
    background :linear-gradient(to bottom, rgb(107, 185, 227) 0%, rgba(88, 153, 214, 0.842) 100%); 
    width: 15rem;
    padding: 0.5rem;
    color:black;
    border-radius: 10px;
    box-shadow: #04f5b1 0.11rem 0.11rem 0.11rem 0.11rem;
    align-items: left;
}

span{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 20rem;
    
}

.btn{
    margin: 0.5rem;
     color: rgb(255, 255, 255); 
     padding: 8px;
     border-radius: 24px; 
     text-decoration: none;  
     display: inline-block;
}

.btn:hover{
    background-color: rgb(55, 118, 136);
    color: rgb(235, 232, 202);
}

.primary{
    background-color: darkred;
    border: 4px ridge rgb(159, 4, 4);
}

.secondary{
    background-color: rgb(7, 108, 52);
    border: 4px ridge rgb(1, 117, 1);
}

.date{
    padding-right: 1rem;
    font-style: italic;
    color: rgb(70, 72, 72);
    text-align: right;
}